<!-- Asset upload form, directed by uploadAssetDirective.js -->
<form novalidate name="assetform" id="assetform">
  <table class="main-tbl">
    <tr ng-if="assetoptions" ng-repeat="asset in assetoptions | filter:{type:'!track'} | orderBy: translatedTitle track by asset.id"  ng-init="assets=$parent.assets; onassetupdate=$parent.onassetupdate">
      <td>{{asset.title | translate }}
        <span class="ui-helper-hidden">({{asset.type}} "{{asset.flavorType}}/{{asset.flavorSubType}}")</span>
      </td>
      <!-- File upload -->
      <td>
        <div class="file-upload">
          <input id="{{asset.id}}" class="blue-btn file-select-btn" admin-ng-file-upload data-ng-file-select data-ng-multiple="asset.multiple"
            type="file" file="$parent.assets.{{asset.id}}" tabindex="" />
        </div>
      </td>
      <!-- Delete option -->
      <td class="fit">
        <a ng-click="removeFile(asset.id)" class="remove"/>
      </td>
    </tr>
    <tr ng-if="!assetoptions">
      <td> A list of asset options was not provided to this section of the web page!</td>
    </tr>
  </table>
</form>

